@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 400;
  font-style: normal;
}

h1 {
  font-size: 3rem;
  font-weight: bold;
  color: #003459;
  text-align: center;
}

p {
  font-size: 1.25rem;
  color: #2d2d2d;
}

@media (width <= 525px) {
  h1 {
    font-size: 2rem;
  }
  p {
    font-size: 1rem;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

section {
  margin: 1.9rem 3.75rem;
}

header {
  width: 100%;
  height: 4.4rem;
  background-color: #eaeaea;
  padding: 0.25rem 0.75rem;
}
header nav img {
  height: 3.75rem;
}
header nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header nav ul li label img {
  height: 2.5rem;
}
header nav label {
  cursor: pointer;
  display: block;
  width: fit-content;
}
header nav .dropdown-menu {
  display: none;
  position: absolute;
  right: 0;
  top: 4.4rem;
  padding: 0;
  margin: 0;
  z-index: 1;
  width: 100vw;
  box-shadow: 4px 6px 6px rgba(45, 45, 45, 0.2509803922);
  background-color: #003459;
}
@media (width >= 525px) {
  header nav .dropdown-menu {
    display: none;
    position: absolute;
    right: 0.75rem;
    top: 3.5rem;
    padding: 0;
    margin: 0;
    z-index: 1;
    width: 10rem;
    border-radius: 10px;
  }
}
header nav .dropdown-menu li {
  width: 100%;
  height: 100%;
  padding: 0.625rem;
}
header nav .dropdown-menu li a {
  color: #eaeaea;
  display: block;
}
header nav .dropdown-menu li:hover {
  background-color: #eaeaea;
}
header nav .dropdown-menu li:hover a {
  color: #003459;
}
header nav input[type=checkbox]:checked ~ .dropdown-menu {
  display: block;
}

footer {
  width: 100%;
  background-color: #003459;
  padding: 1rem 8.5rem;
}
footer * {
  color: #eaeaea;
  text-align: center;
  font-size: 1.25rem;
}
footer small {
  display: block;
}
footer nav {
  margin: 2.5rem 0;
}
footer nav ul {
  display: flex;
  justify-content: space-between;
}
@media (width < 1400px) {
  footer nav ul {
    flex-direction: column;
    gap: 1rem;
  }
}
footer dl {
  margin-bottom: 3rem;
}
footer p small {
  font-size: 0.75rem;
}

.search {
  box-shadow: 4px 6px 6px rgba(45, 45, 45, 0.2509803922);
  padding: 1.25rem 0.75rem;
  background-color: #eaeaea;
  margin: 1.9rem 3.75rem;
}
.search form {
  display: block;
}
.search form div {
  width: 100%;
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-between;
}
.search form div select,
.search form div input {
  width: 60%;
  height: 2rem;
  border: 1px solid #fff;
  border-radius: 10px;
  background-color: #fff;
  outline: none;
}
.search form div:last-of-type label {
  cursor: pointer;
}
.search form div img {
  height: 0.875rem;
}
@media (width >= 800px) {
  .search form {
    display: flex;
  }
  .search form div {
    width: 40%;
    height: 3rem;
    margin-left: 1.5em;
    margin-bottom: 0;
    align-items: center;
    justify-content: space-around;
    text-align: center;
  }
  .search form div label {
    margin-right: 0.5rem;
  }
  .search form div select,
  .search form div input {
    height: 90%;
    width: 70%;
  }
}
@media (width < 800px) {
  .search form button {
    width: 100%;
  }
  .search form button span {
    display: block;
    font-weight: 500;
  }
  .search form button img {
    display: none;
  }
}
.search form button:hover {
  background-color: #eaeaea;
  color: #003459;
}
@media (width >= 800px) {
  .search form button:hover img:first-of-type {
    display: none;
  }
  .search form button:hover img:last-of-type {
    display: block;
  }
}

button {
  border: 2px solid #003459;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3rem;
  width: fit-content;
  padding: 1.5rem 0.75rem;
  color: #eaeaea;
  background-color: #003459;
  font-weight: 500;
  font-size: 1.25rem;
  cursor: pointer;
}
button img {
  height: 1.5rem;
}

section:not(:first-of-type) {
  text-align: center;
  width: 100%;
  margin: 0 0 5rem;
}
section:not(:first-of-type) ul {
  display: flex;
  width: 100%;
  margin-top: 3rem;
}
section:not(:first-of-type) ul li {
  box-shadow: 4px 6px 6px rgba(45, 45, 45, 0.2509803922);
  padding: 1.25rem 0.75rem;
  background-color: #eaeaea;
  border: 1px solid #d4a373;
  height: auto;
  width: 20%;
  opacity: 1;
  z-index: 1;
  transform: none;
}
section:not(:first-of-type) ul li article img {
  width: 80%;
}
section:not(:first-of-type) ul li article h2 {
  font-size: 1.5rem;
  font-weight: bold;
}
section:not(:first-of-type) ul li article p {
  font-size: 1rem;
  margin-top: 0.5rem;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  line-clamp: 3;
}
@media (width >= 800px) {
  section:not(:first-of-type) ul li:nth-child(1), section:not(:first-of-type) ul li:nth-child(5) {
    opacity: 0.5;
    transform: scale(1);
    z-index: 0;
  }
  section:not(:first-of-type) ul li:nth-child(2), section:not(:first-of-type) ul li:nth-child(4) {
    opacity: 0.75;
    transform: scale(1.1);
    z-index: 1;
  }
  section:not(:first-of-type) ul li:nth-child(3) {
    opacity: 1;
    transform: scale(1.2);
    z-index: 2;
  }
}

@media (width < 800px) {
  section:not(:first-of-type) h1 {
    margin-bottom: 1rem;
  }
  section:not(:first-of-type) ul {
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    gap: 1rem;
    height: 100%;
    padding: 0;
    margin: 0;
  }
  section:not(:first-of-type) ul::-webkit-scrollbar {
    display: none;
  }
  section:not(:first-of-type) ul li {
    flex: 0 0 100%;
    scroll-snap-align: center;
  }
  section:not(:first-of-type) ul li article {
    height: 100%;
  }
  section:not(:first-of-type) ul li article p {
    -webkit-line-clamp: 4;
    line-clamp: 4;
  }
}
div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
div input,
div select {
  width: 80%;
  height: 2.5rem;
  border: 1px solid #fff;
  border-radius: 10px;
  background-color: #fff;
  outline: none;
}

.login {
  box-shadow: 4px 6px 6px rgba(45, 45, 45, 0.2509803922);
  padding: 1.25rem 0.75rem;
  background-color: #eaeaea;
  width: 40%;
  margin: 1.9rem auto;
  border-radius: 0.625rem;
}
.login form {
  display: block;
  width: 100%;
  padding: 1.5rem;
}
.login form div {
  width: auto;
  margin-top: 2rem;
  justify-content: space-between;
}
.login form button {
  margin: 2rem 0 0 auto;
}

@media (width < 800px) {
  .login {
    box-shadow: 4px 6px 6px rgba(45, 45, 45, 0.2509803922);
    padding: 1.25rem 0.75rem;
    background-color: #eaeaea;
    width: 100%;
    margin-top: 1.9rem;
    border-radius: 0;
  }
  .login form button {
    margin: 2rem 0 0;
    width: 100%;
  }
}

/*# sourceMappingURL=styles.css.map */
