@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 400;
  font-style: normal;
}

h1 {
  font-size: 3rem;
  font-weight: bold;
  color: #003459;
  text-align: center;
}

p {
  font-size: 1.25rem;
  color: #2d2d2d;
}

@media (width <= 525px) {
  h1 {
    font-size: 2rem;
  }
  p {
    font-size: 1rem;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #2d2d2d;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

h2 {
  font-size: 1.5rem;
  font-weight: bold;
}

body > header {
  width: 100%;
  height: 4.4rem;
  background-color: #eaeaea;
  padding: 0.25rem 0.75rem;
}
body > header nav img {
  height: 3.75rem;
}
body > header nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
body > header nav ul li label img {
  height: 2.5rem;
}
body > header nav label {
  cursor: pointer;
  display: block;
  width: fit-content;
}
body > header nav .dropdown-menu {
  display: none;
  position: absolute;
  right: 0;
  top: 4.4rem;
  padding: 0;
  margin: 0;
  z-index: 1;
  width: 100vw;
  box-shadow: 4px 6px 6px rgba(45, 45, 45, 0.2509803922);
  background-color: #003459;
}
@media (width >= 525px) {
  body > header nav .dropdown-menu {
    border-radius: 0.625rem;
    display: none;
    position: absolute;
    right: 0.75rem;
    top: 3.5rem;
    padding: 0;
    margin: 0;
    z-index: 1;
    width: 10rem;
  }
}
body > header nav .dropdown-menu li {
  width: 100%;
  height: 100%;
  padding: 0.625rem;
}
body > header nav .dropdown-menu li a {
  color: #eaeaea;
  display: block;
}
body > header nav .dropdown-menu li:hover {
  background-color: #eaeaea;
}
body > header nav .dropdown-menu li:hover a {
  color: #003459;
}
body > header nav input[type=checkbox]:checked ~ .dropdown-menu {
  display: block;
}

body > footer {
  width: 100%;
  background-color: #003459;
  padding: 1rem 8.5rem;
}
body > footer * {
  color: #eaeaea;
  text-align: center;
  font-size: 1.25rem;
}
body > footer small {
  display: block;
}
body > footer nav {
  margin: 2.5rem 0;
}
body > footer nav ul {
  display: flex;
  justify-content: space-between;
}
@media (width < 1400px) {
  body > footer nav ul {
    flex-direction: column;
    gap: 1rem;
  }
}
body > footer dl {
  margin-bottom: 3rem;
}
body > footer p small {
  font-size: 0.75rem;
}

search {
  box-shadow: 4px 6px 6px rgba(45, 45, 45, 0.2509803922);
  padding: 1.25rem 0.75rem;
  background-color: #eaeaea;
  margin: 1.9rem 3.75rem;
}
search form {
  display: block;
}
search form div {
  width: 100%;
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-between;
}
search form div select,
search form div input {
  width: 60%;
  height: 2rem;
  background-color: #fff;
  outline: none;
  padding: 1rem;
}
search form div:last-of-type label {
  cursor: pointer;
}
search form div img {
  height: 0.875rem;
}
@media (width >= 800px) {
  search form {
    display: flex;
  }
  search form div {
    width: 40%;
    height: 3rem;
    margin-left: 1.5em;
    margin-bottom: 0;
    align-items: center;
    justify-content: space-around;
    text-align: center;
  }
  search form div label {
    margin-right: 0.5rem;
  }
  search form div select,
  search form div input {
    height: 90%;
    width: 70%;
  }
}
@media (width < 800px) {
  search form button {
    width: 100%;
  }
  search form button span {
    display: block;
    font-weight: 500;
  }
  search form button img {
    display: none;
  }
}
@media (width >= 800px) {
  search form button:hover img:first-of-type {
    display: none;
  }
  search form button:hover img:last-of-type {
    display: block;
  }
}

button {
  border: 0.125rem solid #003459;
  border-radius: 0.625rem;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3rem;
  padding: 1.5rem 0.75rem;
  color: #eaeaea;
  background-color: #003459;
  font-weight: 500;
  font-size: 1.25rem;
  cursor: pointer;
}
button img {
  height: 1.5rem;
}
button span {
  color: #eaeaea;
}
button:hover {
  background-color: #eaeaea;
  color: #003459;
}
button:hover span {
  color: #003459;
}

.carousel {
  text-align: center;
  width: 100%;
  margin: 0 0 5rem;
}
.carousel ul {
  display: flex;
  width: 100%;
  margin-top: 3rem;
}
.carousel ul li {
  box-shadow: 4px 6px 6px rgba(45, 45, 45, 0.2509803922);
  padding: 1.25rem 0.75rem;
  background-color: #eaeaea;
  border: 0.125rem solid #d4a373;
  height: auto;
  width: 20%;
  opacity: 1;
  z-index: 1;
  transform: none;
}
.carousel ul li article img {
  width: 80%;
}
.carousel ul li article p {
  font-size: 1rem;
  margin-top: 0.5rem;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  line-clamp: 3;
}
@media (width >= 800px) {
  .carousel ul li:nth-child(1), .carousel ul li:nth-child(5) {
    opacity: 0.5;
    transform: scale(1);
    z-index: 0;
  }
  .carousel ul li:nth-child(2), .carousel ul li:nth-child(4) {
    opacity: 0.75;
    transform: scale(1.1);
    z-index: 1;
  }
  .carousel ul li:nth-child(3) {
    opacity: 1;
    transform: scale(1.2);
    z-index: 2;
  }
}

@media (width < 800px) {
  .carousel h1 {
    margin-bottom: 1rem;
  }
  .carousel ul {
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    gap: 1rem;
    height: 100%;
    padding: 0;
    margin: 0;
  }
  .carousel ul::-webkit-scrollbar {
    display: none;
  }
  .carousel ul li {
    flex: 0 0 100%;
    scroll-snap-align: center;
  }
  .carousel ul li article {
    height: 100%;
  }
  .carousel ul li article p {
    -webkit-line-clamp: 4;
    line-clamp: 4;
  }
}
form > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
form > div input,
form > div select {
  border: 0.125rem solid #fff;
  border-radius: 0.625rem;
  width: 80%;
  height: 2.5rem;
  background-color: #fff;
  outline: none;
}

.login {
  box-shadow: 4px 6px 6px rgba(45, 45, 45, 0.2509803922);
  padding: 1.25rem 0.75rem;
  background-color: #eaeaea;
  border-radius: 0.625rem;
  width: 40%;
  margin: 1.9rem auto;
}
.login form {
  display: block;
  width: 100%;
  padding: 1.5rem;
}
.login form div {
  width: auto;
  margin-top: 2rem;
  justify-content: space-between;
}
.login form p {
  margin-top: 2rem;
  font-size: 1rem;
}
.login form p a {
  color: #d4a373;
  text-decoration: underline;
  font-weight: bold;
}
.login form button {
  margin: 2rem 0 0 auto;
}

@media (width < 800px) {
  .login {
    box-shadow: 4px 6px 6px rgba(45, 45, 45, 0.2509803922);
    padding: 1.25rem 0.75rem;
    background-color: #eaeaea;
    border-radius: 0;
    width: 100%;
    margin-top: 1.9rem;
  }
  .login form button {
    margin: 2rem 0 0;
    width: 100%;
  }
}
.results > div {
  margin: 1.9rem 3.75rem;
  display: grid;
  gap: 2.5rem;
  grid-template-columns: 1fr;
}
@media (width < 800px) {
  .results > div {
    margin: 0;
  }
}
@media (width > 800px) {
  .results > div {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (width > 1000px) {
  .results > div {
    grid-template-columns: repeat(3, 1fr);
  }
}
.results > div article {
  box-shadow: 4px 6px 6px rgba(45, 45, 45, 0.2509803922);
  padding: 1.5rem;
  background-color: #eaeaea;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  text-align: center;
}
.results > div article img {
  width: 100%;
}
.results > div article p:first-of-type {
  color: #7d1d3f;
  font-weight: bold;
}
.results > div article p:not(:first-of-type) {
  text-align: justify;
}
.results > div article a {
  text-decoration: underline;
  color: #d4a373;
  font-weight: bold;
  font-size: 1.25rem;
}

body > a {
  display: flex;
  justify-content: start;
  align-items: center;
  margin: 0.9rem 0.625rem;
  color: #2d2d2d;
  font-size: 2rem;
}
body > a img {
  width: 2rem;
  margin-right: 1rem;
}

.bedroom-details {
  box-shadow: 4px 6px 6px rgba(45, 45, 45, 0.2509803922);
  padding: 2.5rem;
  background-color: #eaeaea;
  margin: 1.9rem 3.75rem;
  border-radius: 0.625rem;
  width: auto;
}
.bedroom-details > p:first-of-type {
  color: #003459;
  font-size: 1.5rem;
}
.bedroom-details > p:first-of-type span {
  font-weight: bold;
  font-size: 2.25rem;
  color: #003459;
}
.bedroom-details > p:not(:first-of-type) {
  font-size: 1.25rem;
  margin-top: 1rem;
  text-align: justify;
}
.bedroom-details > div:first-of-type {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0;
  margin-top: 1rem;
}
.bedroom-details > div:first-of-type > img {
  width: 12.5rem;
}
.bedroom-details > div:first-of-type p {
  font-size: 1rem;
}
.bedroom-details > section:first-of-type {
  width: 100%;
  margin: 2rem 0;
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 1rem;
  align-items: center;
}
.bedroom-details > section:first-of-type figure img {
  width: 100%;
}
.bedroom-details > section:first-of-type ul {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.bedroom-details > section:first-of-type ul li img {
  width: 95%;
}
@media (width < 800px) {
  .bedroom-details > section:first-of-type {
    grid-template-columns: 1fr;
  }
  .bedroom-details > section:first-of-type ul {
    flex-direction: row;
  }
}
.bedroom-details h2 {
  font-weight: 400;
  font-size: 1.25rem;
  text-align: center;
}
.bedroom-details hr {
  margin: 2.5rem 0;
  height: 2px;
  background-color: #003459;
}
.bedroom-details div[data-role=room-info] {
  display: flex;
  justify-content: space-between;
  align-items: start;
  margin: 0;
}
.bedroom-details div[data-role=room-info] aside {
  box-shadow: 4px 6px 6px rgba(45, 45, 45, 0.2509803922);
  padding: 1.25rem 0.75rem;
  background-color: #eaeaea;
  border: 0.125rem solid #a663cc;
  border-radius: 0.625rem;
  min-width: 16rem;
}
.bedroom-details div[data-role=room-info] aside h4 {
  font-size: 1.25rem;
  font-weight: bold;
  text-align: center;
  color: #a663cc;
}
.bedroom-details div[data-role=room-info] aside > form > div {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin-top: 1rem;
}
.bedroom-details div[data-role=room-info] aside > form > div input {
  width: 70%;
  padding: 1rem;
}
.bedroom-details div[data-role=room-info] aside > form > p {
  font-size: 1.25rem;
  color: #2d2d2d;
  margin-top: 1.25rem;
}
.bedroom-details div[data-role=room-info] aside > form > p span {
  font-weight: bold;
}
.bedroom-details div[data-role=room-info] aside > form > button {
  border: 0.125rem solid #a663cc;
  border-radius: 0.625rem;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3rem;
  padding: 1.5rem 0.75rem;
  color: #eaeaea;
  background-color: #a663cc;
  font-weight: 500;
  font-size: 1.25rem;
  cursor: pointer;
  margin: 1rem auto 0;
}
.bedroom-details div[data-role=room-info] aside > form > button img {
  height: 1.5rem;
}
.bedroom-details div[data-role=room-info] aside > form > button span {
  color: #eaeaea;
}
.bedroom-details div[data-role=room-info] aside > form > button:hover {
  background-color: #eaeaea;
  color: #a663cc;
}
.bedroom-details div[data-role=room-info] aside > form > button:hover span {
  color: #a663cc;
}
@media (width < 800px) {
  .bedroom-details div[data-role=room-info] {
    flex-direction: column;
  }
  .bedroom-details div[data-role=room-info] aside {
    margin-top: 2rem;
    width: 100%;
  }
  .bedroom-details div[data-role=room-info] aside button {
    width: 100%;
  }
}
.bedroom-details div[data-role=list-info] * {
  color: #003459;
}
.bedroom-details div[data-role=list-info] h3 {
  font-size: 1.25rem;
  font-weight: bold;
  margin-right: auto;
}
.bedroom-details div[data-role=list-info] ul li {
  display: flex;
  gap: 0.5rem;
  margin-top: 1rem;
  align-items: center;
}
.bedroom-details div[data-role=list-info] ul li img {
  height: 1.25rem;
  width: auto;
}
.bedroom-details div[data-role=list-info]:last-child ul li p,
.bedroom-details div[data-role=list-info]:last-child p:nth-of-type(2) {
  font-style: italic;
}
.bedroom-details div[data-role=list-info]:last-child > p:first-of-type {
  margin: 1.5rem 0;
}

section[data-role=rates] {
  box-shadow: 4px 6px 6px rgba(45, 45, 45, 0.2509803922);
  padding: 1.25rem 0.75rem;
  background-color: #eaeaea;
  margin: 1.9rem 3.75rem;
  border-radius: 0.625rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
section[data-role=rates] h3[data-role=rate-title] {
  font-size: 2rem;
  font-weight: bold;
  color: #003459;
  text-align: center;
}
section[data-role=rates] article[data-role=rate] {
  padding: 0 0.5rem;
}
section[data-role=rates] article[data-role=rate] div[data-role=info-rate] {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
section[data-role=rates] article[data-role=rate] div[data-role=info-rate] div {
  display: flex;
  align-items: center;
  justify-content: start;
}
section[data-role=rates] article[data-role=rate] div[data-role=info-rate] div img {
  height: 3rem;
  width: auto;
  margin-right: 1rem;
}
section[data-role=rates] article[data-role=rate] div[data-role=info-rate] p[data-role=rate-date] {
  font-style: italic;
  font-size: 0.75rem;
}
section[data-role=rates] article[data-role=rate] p[data-role=comment] {
  padding: 0.625rem;
  background-color: #fff;
  margin-top: 0.625rem;
}
section[data-role=rates] article[data-role=rate] p[data-role=star-rate] {
  display: flex;
  align-items: center;
  margin: 1rem 0 0;
}
section[data-role=rates] article[data-role=rate] p[data-role=star-rate] > span ~ img {
  width: 10rem;
  vertical-align: middle;
  margin-left: 1rem;
}

.register {
  box-shadow: 4px 6px 6px rgba(45, 45, 45, 0.2509803922);
  padding: 1.25rem 0.75rem;
  background-color: #eaeaea;
  margin: 1.9rem 3.75rem;
  border-radius: 0.625rem;
}
.register form {
  padding: 2rem;
  font-size: 1.25rem;
}
.register form input,
.register form select {
  font-size: 1rem;
}
.register form div[data-role=acceptance] {
  display: flex;
  justify-content: start;
  margin-top: 2rem;
  gap: 1rem;
}
.register form div[data-role=acceptance] input {
  width: auto;
  height: 1.5rem;
}
.register form div[data-role=acceptance] label span {
  color: #f00;
}
.register form input[type=radio]:disabled + label {
  opacity: 0.6;
  cursor: not-allowed;
}
.register form div[data-role=user-type] {
  display: flex;
  justify-content: start;
  gap: 4rem;
}
.register form div[data-role=user-type] div {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.register form div[data-role=user-type] div input[type=radio] {
  height: 1rem;
}
@media (width < 800px) {
  .register form div[data-role=user-type] {
    flex-direction: column;
    gap: 2rem;
    align-items: start;
  }
}
.register form div[data-role=data] {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  margin-top: 2rem;
}
.register form div[data-role=data] div {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 100%;
}
.register form div[data-role=data] div input, .register form div[data-role=data] div select {
  width: auto;
  padding: 0 1rem;
}
.register form div[data-role=data] div label span {
  color: #f00;
}
@media (width < 800px) {
  .register form div[data-role=data] {
    grid-template-columns: 1fr;
  }
}
.register form div[data-role=data]:nth-child(3), .register form div[data-role=data]:nth-child(7) {
  grid-template-columns: 1fr 1fr 1fr;
}
@media (width < 800px) {
  .register form div[data-role=data]:nth-child(3), .register form div[data-role=data]:nth-child(7) {
    grid-template-columns: 1fr;
  }
}
.register form p {
  margin-top: 2rem;
  font-size: 1rem;
}
.register form p a {
  color: #d4a373;
  text-decoration: underline;
  font-weight: bold;
}
.register form button {
  margin: 2rem 0 0 auto;
}
@media (width < 800px) {
  .register form button {
    width: 100%;
  }
}

.user-header {
  margin: 1.9rem 3.75rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.user-header div[data-role=user-info] {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.user-header div[data-role=user-info] img {
  width: 2.8rem;
}
.user-header div[data-role=user-text] strong {
  font-weight: bold;
  font-size: 1.25rem;
}
.user-header div[data-role=user-text] p {
  font-size: 0.875rem;
}
.user-header span[data-role=status-badge] {
  border: 0.125rem solid #059669;
  border-radius: 1.5rem;
  padding: 0.5rem;
  color: #059669;
  font-weight: bold;
}
@media (width < 800px) {
  .user-header {
    margin: 1.9rem 1rem;
    flex-direction: column;
    gap: 1rem;
  }
  .user-header div[data-role=user-info] {
    width: 100%;
  }
  .user-header div[data-role=user-info] img {
    width: 4rem;
  }
  .user-header div[data-role=user-info] strong {
    font-size: 2.25rem;
  }
  .user-header div[data-role=user-info] p {
    font-size: 1.5rem;
  }
}

input[data-role=tab1],
input[data-role=tab2],
input[data-role=tab3],
input[data-role=tab4] {
  display: none;
}

body > nav {
  box-shadow: 4px 6px 6px rgba(45, 45, 45, 0.2509803922);
  padding: 0;
  background-color: #eaeaea;
  display: flex;
  margin: 0 3.75rem;
}
body > nav label {
  height: 100%;
  flex: 1;
  padding: 1rem;
  text-align: center;
  background: #eee;
  cursor: pointer;
  font-weight: bold;
}
body > nav label:last-child {
  border-right: none;
}
@media (width < 800px) {
  body > nav {
    flex-direction: column;
    width: 100%;
    margin: 0;
  }
}

input[data-role=tab1]:checked ~ nav label[for=tab1],
input[data-role=tab2]:checked ~ nav label[for=tab2],
input[data-role=tab3]:checked ~ nav label[for=tab3],
input[data-role=tab4]:checked ~ nav label[for=tab4] {
  background: #00345d;
  color: white;
}

main > section {
  display: none;
  width: auto;
}

#tab1:checked ~ main section:nth-of-type(1),
#tab2:checked ~ main section:nth-of-type(2),
#tab3:checked ~ main section:nth-of-type(3),
#tab4:checked ~ main section:nth-of-type(4) {
  margin: 1.9rem 3.75rem;
  display: block;
}

main section div {
  box-shadow: 4px 6px 6px rgba(45, 45, 45, 0.2509803922);
  padding: 1.25rem 0.75rem;
  background-color: #eaeaea;
  margin: 1.9rem 3.75rem;
  border-radius: 0.625rem;
  margin: 0;
  width: 100%;
}
main section div ul li {
  margin: 1.5rem;
}
main section div ul li strong[data-role=info-perfil] {
  font-weight: 600;
}
main section div a {
  border: 0.125rem solid #d4a373;
  border-radius: 0.625rem;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3rem;
  padding: 1.5rem 0.75rem;
  color: #eaeaea;
  background-color: #d4a373;
  font-weight: 500;
  font-size: 1.25rem;
  cursor: pointer;
  width: fit-content;
  margin: 0 1.5rem;
}
main section div a img {
  height: 1.5rem;
}
main section div a span {
  color: #eaeaea;
}
main section div a:hover {
  background-color: #eaeaea;
  color: #d4a373;
}
main section div a:hover span {
  color: #d4a373;
}
@media (width < 800px) {
  main section div a {
    width: auto;
  }
}

#tab3:checked ~ main section:nth-of-type(3) {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: space-between;
  gap: 2rem;
}
#tab3:checked ~ main section:nth-of-type(3) article {
  box-shadow: 4px 6px 6px rgba(45, 45, 45, 0.2509803922);
  padding: 1.25rem 0.75rem;
  background-color: #eaeaea;
  margin: 1.9rem 3.75rem;
  border-radius: 0.625rem;
  padding: 1.5rem;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
#tab3:checked ~ main section:nth-of-type(3) article p strong {
  font-weight: 600;
}
@media (width < 800px) {
  #tab3:checked ~ main section:nth-of-type(3) {
    grid-template-columns: 1fr;
    gap: 3rem;
    margin: 3rem 0;
  }
  #tab3:checked ~ main section:nth-of-type(3) article {
    margin: 0;
  }
}

#tab4:checked ~ main section:nth-of-type(4) article {
  box-shadow: 4px 6px 6px rgba(45, 45, 45, 0.2509803922);
  padding: 1.25rem 0.75rem;
  background-color: #eaeaea;
  margin: 1.9rem 3.75rem;
  border-radius: 0.625rem;
  width: auto;
  margin: 2rem 0;
}
#tab4:checked ~ main section:nth-of-type(4) article header p {
  font-size: 1.25rem;
}
#tab4:checked ~ main section:nth-of-type(4) article header p img {
  height: 1.25rem;
}
#tab4:checked ~ main section:nth-of-type(4) article blockquote p {
  color: rgba(45, 45, 45, 0.6);
  font-size: 1rem;
  margin: 1rem 0;
}
#tab4:checked ~ main section:nth-of-type(4) article footer small {
  font-style: italic;
  font-size: 0.75rem;
}
@media (width < 800px) {
  #tab4:checked ~ main section:nth-of-type(4) {
    margin: 0;
  }
  #tab4:checked ~ main section:nth-of-type(4) article {
    padding: 2rem;
    border-radius: 0;
  }
}

#tab2:checked ~ main section:nth-of-type(2) {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 0;
  justify-content: space-between;
}
#tab2:checked ~ main section:nth-of-type(2) article {
  box-shadow: 4px 6px 6px rgba(45, 45, 45, 0.2509803922);
  padding: 1.25rem 0.75rem;
  background-color: #eaeaea;
  margin: 1.9rem 3.75rem;
  border-radius: 0.625rem;
}
#tab2:checked ~ main section:nth-of-type(2) article header {
  height: auto;
}
#tab2:checked ~ main section:nth-of-type(2) article header h2 {
  display: flex;
  gap: 0.5rem;
  margin-bottom: 1rem;
}
#tab2:checked ~ main section:nth-of-type(2) article header h2 img {
  height: 1.9rem;
}
#tab2:checked ~ main section:nth-of-type(2) article header p {
  color: rgba(45, 45, 45, 0.6);
  font-size: 1rem;
}
#tab2:checked ~ main section:nth-of-type(2) article header p img {
  height: 1rem;
}
#tab2:checked ~ main section:nth-of-type(2) article section {
  padding: 0.25rem 0.75rem;
}
#tab2:checked ~ main section:nth-of-type(2) article section p {
  margin-top: 1rem;
}
#tab2:checked ~ main section:nth-of-type(2) article section p img {
  height: 1.25rem;
}
#tab2:checked ~ main section:nth-of-type(2) article section p strong {
  font-weight: 600;
}
#tab2:checked ~ main section:nth-of-type(2) article footer {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
}
#tab2:checked ~ main section:nth-of-type(2) article footer a:first-of-type {
  border: 0.125rem solid #d4a373;
  border-radius: 0.625rem;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3rem;
  padding: 1.5rem 0.75rem;
  color: #eaeaea;
  background-color: #d4a373;
  font-weight: 500;
  font-size: 1.25rem;
  cursor: pointer;
  color: #d4a373;
  background-color: #eaeaea;
}
#tab2:checked ~ main section:nth-of-type(2) article footer a:first-of-type img {
  height: 1.5rem;
}
#tab2:checked ~ main section:nth-of-type(2) article footer a:first-of-type span {
  color: #eaeaea;
}
#tab2:checked ~ main section:nth-of-type(2) article footer a:first-of-type:hover {
  background-color: #eaeaea;
  color: #d4a373;
}
#tab2:checked ~ main section:nth-of-type(2) article footer a:first-of-type:hover span {
  color: #d4a373;
}
#tab2:checked ~ main section:nth-of-type(2) article footer a:first-of-type:hover {
  background-color: #d4a373;
  color: #eaeaea;
}
#tab2:checked ~ main section:nth-of-type(2) article footer a:nth-of-type(2) {
  border: 0.125rem solid #7d1d3f;
  border-radius: 0.625rem;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3rem;
  padding: 1.5rem 0.75rem;
  color: #eaeaea;
  background-color: #7d1d3f;
  font-weight: 500;
  font-size: 1.25rem;
  cursor: pointer;
}
#tab2:checked ~ main section:nth-of-type(2) article footer a:nth-of-type(2) img {
  height: 1.5rem;
}
#tab2:checked ~ main section:nth-of-type(2) article footer a:nth-of-type(2) span {
  color: #eaeaea;
}
#tab2:checked ~ main section:nth-of-type(2) article footer a:nth-of-type(2):hover {
  background-color: #eaeaea;
  color: #7d1d3f;
}
#tab2:checked ~ main section:nth-of-type(2) article footer a:nth-of-type(2):hover span {
  color: #7d1d3f;
}
#tab2:checked ~ main section:nth-of-type(2) article footer a[data-role=finished] {
  border: 0.125rem solid #a663cc;
  border-radius: 0.625rem;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3rem;
  padding: 1.5rem 0.75rem;
  color: #eaeaea;
  background-color: #a663cc;
  font-weight: 500;
  font-size: 1.25rem;
  cursor: pointer;
}
#tab2:checked ~ main section:nth-of-type(2) article footer a[data-role=finished] img {
  height: 1.5rem;
}
#tab2:checked ~ main section:nth-of-type(2) article footer a[data-role=finished] span {
  color: #eaeaea;
}
#tab2:checked ~ main section:nth-of-type(2) article footer a[data-role=finished]:hover {
  background-color: #eaeaea;
  color: #a663cc;
}
#tab2:checked ~ main section:nth-of-type(2) article footer a[data-role=finished]:hover span {
  color: #a663cc;
}
@media (width < 800px) {
  #tab2:checked ~ main section:nth-of-type(2) article footer {
    flex-direction: column;
    gap: 1rem;
  }
  #tab2:checked ~ main section:nth-of-type(2) article footer a {
    width: auto;
  }
}
@media (width < 800px) {
  #tab2:checked ~ main section:nth-of-type(2) {
    grid-template-columns: 1fr;
    gap: 4rem;
    margin-top: 4rem;
  }
  #tab2:checked ~ main section:nth-of-type(2) article {
    margin: 0;
  }
}

span[data-role=confirmed] {
  color: #059669;
}

span[data-role=pending] {
  color: #d4a373;
}

span[data-role=canceled] {
  color: #7d1d3f;
}

span[data-role=finished] {
  color: #a663cc;
}

/*# sourceMappingURL=styles.css.map */
