@use "../base/colors" as colors;

body > footer {
  * {
    color: colors.$off-white;
    text-align: center;
    font-size: 1.25rem;
  }

  width: 100%;
  background-color: colors.$navy-blue;
  padding: 1rem 8.5rem;

  small {
    display: block;
  }

  nav {
    margin: 2.5rem 0;

    ul {
      display: flex;
      justify-content: space-between;
    }

    @media (width < 1400px) {
      ul {
        flex-direction: column;
        gap: 1rem;
      }
    }
  }

  dl {
    margin-bottom: 3rem;
  }

  p small {
    font-size: 0.75rem;
  }
}
