@use "../base/colors" as colors;
@use "../utils/border" as *;

@mixin button($color: colors.$navy-blue) {
  @include border($color);
  @include border-radius;

  display: flex;
  align-items: center;
  justify-content: center;
  height: 3rem;
  padding: 1.5rem 0.75rem;
  color: colors.$off-white;
  background-color: $color;
  font-weight: 500;
  font-size: 1.25rem;

  img {
    height: 1.5rem;
  }

  span {
    color: colors.$off-white;
  }

  cursor: pointer;

  &:hover {
    background-color: colors.$off-white;
    color: $color;

    span {
      color: $color;
    }
  }
}

@mixin button-outlined($color: colors.$caramel) {
  @include button($color);

  color: $color;
  background-color: colors.$off-white;

  &:hover {
    background-color: $color;
    color: colors.$off-white;
  }
}

@mixin button-link($color: colors.$navy-blue) {
  @include button($color);

  width: fit-content;
}

button {
  @include button;
}
