@use "../base/colors" as colors;
@use "../utils/box-shadow" as *;

@mixin card {
    @include box-shadow;

    padding: 1.25rem 0.75rem;
    background-color: colors.$off-white;
}

@mixin flat-card {
    @include card;
    
    margin: 1.9rem 3.75rem;
}

@mixin card-rounded {
    @include flat-card;

    border-radius: 0.625rem;
}

@mixin card-carousel {
    @include card;

    border: 1px solid colors.$caramel;
}

