@use "../base/colors" as colors;
@use "../utils/border" as *;

form > div {
  display: flex;
  justify-content: space-between;
  align-items: center;

  input,
  select {
    @include border(colors.$white);
    @include border-radius;

    width: 80%;
    height: 2.5rem;
    background-color: colors.$white;
    outline: none;
  }
}
