// Colors
$navy-blue: #003459;
$caramel: #d4a373;
$burgundy: #7d1d3f;
$white: #fff;
$off-white: #eaeaea;
$black: #2d2d2d;
$black-transparent-25: #2d2d2d40;
$black-transparent-60: #2d2d2d99;
$lavender: #a663cc;
$red: #f00;
$green: #059669;
