@use "../base/colors" as colors;
@use "../components/card" as *;
@use "../components/buttons" as *;
@use "../components/links" as *;

.cancellation {
  @include card-rounded;

  text-align: center;

  p {
    margin: 2.5rem 0;
    font-size: 1.5rem;

    a {
      @include link;
    }

    strong {
      font-weight: 600;

      &:last-of-type {
        color: colors.$green;
        text-decoration: underline;
      }
    }
  }

  div {
    display: flex;
    gap: 2rem;
    justify-content: center;

    a {
      &:first-of-type {
        @include button-outlined;
      }

      &:nth-of-type(2) {
        @include button(colors.$burgundy);
      }

      &:nth-of-type(3) {
        @include button;
      }
    }

    @media(width < 800px) {
        flex-direction: column-reverse;   
    }
  }

  @media(width < 800px) {
    img {
      width: 100%;
    }
  }
}
